body {
  background-color: teal;
}

.jumbotron {
  background-color: aqua;
  color: teal;
  font: 1em Avenir;
  letter-spacing: 1.5px;
}

/*****************************************/
/* Timer                                 */
/*****************************************/

#timerContainer {
  max-width: 300px;
  margin: auto;
  
  padding: 5px;
  background-color: orange;
  border: 5px solid teal;
  border-radius: 20px;
  box-shadow: 0 0 5px #333 inset;
}

#timer {
  background-color: yellow;
  border-radius: 10px 0 0 10px;
  box-shadow: 0 0 10px #333 inset;
}

#timer span {
  font: 3em Impact;
  vertical-align: middle;
}

#markContainerText {
  background-color: deeppink;
  color: yellow;
  margin-bottom: 5px;
  border-radius: 0 10px 0 0;
  box-shadow: 0 0 10px #333 inset;
}

#marks {
  min-height: 27px;
  color: yellow;
  background-color: deeppink;
  border-radius: 0 0 10px 0;
  box-shadow: 0 0 10px #333 inset;
}

.completion-mark {
  vertical-align: -4px;
}

#markContainer {
  position: relative;
  padding: 0 15px;
}

/*****************************************/
/* Button                                */
/*****************************************/

.btn {
  width: 150px;
  margin-top: 15px;
  color: yellow;
  background-color: deeppink;
  border: 7px solid teal;
  box-shadow: 0 0 10px #333 inset;
}

.btn:hover {
  color: yellow;
}

.btn:focus {
  outline: none;
  color: yellow;
}

.btn.focus {
  color: yellow;
}