body {
  background-color: white;
}

.jumbotron {
  background-color: white;
  color: midnightblue;
  font: 1em Avenir;
  letter-spacing: 1.5px;
}

/*****************************************/
/* Timer                                 */
/*****************************************/

#timerContainer {
  max-width: 380px;
  margin: auto;
  
  padding: 5px;
  background-color: white;
  border: 5px solid midnightblue;
  border-radius: 20px;
  box-shadow: 0 0 5px #333 inset;
}

#timer {
  float: left;
  padding: 0 15px;
  background-color: white;
  border-radius: 10px 0 0 10px;
  box-shadow: 0 0 5px #333 inset;
}

.digit {
  float: left;
  min-width: 24px;
  font: 3em Impact;
  vertical-align: middle;
}

.display-element {
  display: initial;
}

.hide-element {
  display: none;
}

.digit-appear {
  opacity: 0.01;
}

.digit-appear.digit-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.digit-enter {
  display: none;
}

.digit-enter.digit-enter-active {
  display: initial;
  transition: display 500ms ease-in;
}

.digit-leave {
  display: initial;
}

.digit-leave.digit-leave-active {
  display: none;
  transition: display 300ms ease-in;
}

/*****************************************/
/* Marks                                 */
/*****************************************/

#markContainer {
  float: right;
  position: relative;
  padding: 0 15px;
}

#markContainerText {
  padding: 0 15px;
  background-color: white;
  color: midnightblue;
  margin-bottom: 5px;
  border-radius: 0 10px 0 0;
  box-shadow: 0 0 5px #333 inset;
}

#marks {
  min-height: 27px;
  color: midnightblue;
  background-color: white;
  border-radius: 0 0 10px 0;
  box-shadow: 0 0 5px #333 inset;
}

.completion-mark {
  vertical-align: -4px;
}

/*****************************************/
/* Button                                */
/*****************************************/

.btn {
  width: 150px;
  margin-top: 15px;
  color: midnightblue;
  background-color: white;
  border: 7px solid midnightblue;
  box-shadow: 0 0 10px #333 inset;
}

.btn:hover {
  color: midnightblue;
}

.btn:focus {
  outline: none;
  color: midnightblue;
}

.btn.focus {
  color: midnightblue;
}

.btn.select {
  margin-right: 30px;
}