_color1 = olivedrab
_color2 = beige
_bgColor = tomato

@import 'animate.styl'
@import 'btn.styl'
@import 'task.styl'

body
  background-color _bgColor
  color _color1
  font 1em "Roboto Slab", sans-serif
  font-weight 300

p, h1, h2, h3, h4
  &:hover
    cursor default

.main
  padding-top 50px
  
.heading
  margin 0
  margin-top 5px
  display inline-block
  padding 5px
  width 390px
  background-color _color1
  
  font-weight 300
  color beige

.timer
  position absolute
  width 300px
  margin auto
  z-index -2

  &-digit  
    float left
    min-width 40px

    font-size 5em
    font-weight 700
    color crimson

  &-colon
    float left
    min-width 15px
    padding 15px
    font 3em Impact


/*****************************************/
/* General                               */
/*****************************************/

.row
  display flex
  align-items center
  &-center
    justify-content center
  &-space
    justify-content space-around
  &-wrap
    flex-wrap wrap

.col
  display flex
  flex-direction column
  &-center
    align-items center
    justify-content center
  &-space
    justify-content space-around

.hide
  display none
