.btn
  float left
  
  &-select, &-select-stopped
    width 400px
    height 200px
    float none
    z-index 2
    position relative
    text-align center

    letter-spacing 1.5px
    font-size 1.2em    
    color _color2
    border 5px solid _color2
    background-color initial
    
    & p
      font-weight 700
      position relative
      top 120px
      
      &:hover
        cursor pointer

    &:hover
      cursor pointer
    
    &-stopped
      border 5px solid _color2
      border-radius 3px
      background-color rgba(0, 100, 0, 0.6)
      &:hover
        cursor pointer
        color _color2
        border 5px solid _color2
        background-color initial

  &-tool

    height 38px
    width 40px

    color _color2
    font-size 1.2em

    border none
    background-color _color1
    transition background-color 200ms, color 200ms

    &:hover
      cursor pointer
      background-color _color2
      color _color1
      transition background-color 200ms, color 200ms
    
  &-new-task
    margin-top 5px
    text-align left
    font-family "Roboto Slab", sans-serif
    font-weight 300
    width 400px

  &-disabled
    color lightgray
    font-size 1em

    border none
    background-color gray
    cursor default