.current-task
  &-title
    text-align center
    margin 0
    margin-top 5px
    color _color2
    font-size 2.5em
    background-color _color1
    border-bottom 2px solid _color2

.current-subtasks
  background-color _color2

.subtask
  margin 5px 0 5px 20px
  max-width 400px
  
  
  font-size 1em
  text-align left
  text-decoration none
  transition text-decoration 1s ease-in-out
  
  &:hover
    cursor pointer
  
.cross-out
  text-decoration line-through

.task-list
  width 100%

  &-btn
    width 70px
    font-size 1.2rem
  
  &-filler
    width 70px
    height 38px
    background-color _color2
    color _color1
    font-size 1.6rem

  &-item
    height 45px
    width 100%
    margin-top 5px
    background-color _color1
    
    &-info
      position relative
      align-items center
      left 20px
      width 70%

    &-title
      margin 0
      padding 0 2px
      color _color2

      text-align left
      &:hover
        cursor default

.new-task-form
  width 100%
  
  .col
    width 100%
  
  &-info
    display inline-block
    height 23px
    padding 5px
    padding-top 10px
    background-color _color1
    color _color2
    &:hover
      cursor default
  
  input
    border none
    padding 5px
  &-field
    &-title
      font-size 1.4em
      width 50%
    &-subtask
      font-size 0.8em
  div .new-task-form-field-title
    border-bottom 1px solid #ccc

.completion-mark-container
    color _color2
    padding-left 30px
    
    &-current
      height 26px
      padding 3px 30px
      font-size 1.5rem
      background-color _color1
    &-list
      font-size 1rem
